@tailwind base;
@tailwind components;
@tailwind utilities;

.input-number {
    /* Remove the up and down arrows */
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
    /* Add your other styling here */
}
